certifi==2021.5.30
chardet==4.0.0
idna==2.10
Pillow==8.2.0
py-notifier==0.3.0
pyngrok==5.0.5
pystray==0.17.3
python-xlib==0.30
pytube==10.8.2
PyYAML==5.4.1
requests==2.25.1
six==1.16.0
urllib3==1.26.5
